<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout-web.html}">


<!-- molla/category-boxed.html  22 Nov 2019 10:03:00 GMT -->

<body>
	<div class="page-wrapper" layout:fragment="content">

		<main class="main">
			<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
				<div class="container">
					<h1 class="page-title">Molla<span>Shop</span></h1>
				</div><!-- End .container -->
			</div><!-- End .page-header -->
			<nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
				<div class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a th:href="home">Trang chủ</a></li>
						<li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
					</ol>
				</div><!-- End .container -->
			</nav><!-- End .breadcrumb-nav -->

			<div class="page-content">
				<div class="container">
					<div class="toolbox">
						<div class="toolbox-left">
							<a href="#" class="sidebar-toggler"><i class="icon-bars"></i>Bộ lọc</a>
						</div><!-- End .toolbox-left -->

						<div class="toolbox-right">
							<div class="toolbox-sort">
								<label for="sortby">Sort by:</label>
								<div class="select-custom">
									<select name="sortby" id="sortby" class="form-control"
										onchange="handleSortByChange()">
										<option value="0" th:selected="${sortby == 0}">Tên</option>
										<option value="1" th:selected="${sortby == 1}">Lượt mua</option>
										<option value="2" th:selected="${sortby == 2}">Đánh giá</option>
										<option value="3" th:selected="${sortby == 3}">Mới nhất</option>
									</select>
								</div>
							</div><!-- End .toolbox-sort -->
						</div><!-- End .toolbox-right -->
					</div><!-- End .toolbox -->

					<div class="products">
						<div class="row">
							<div th:each="product : ${products}" class="col-6 col-md-4 col-lg-4 col-xl-3">
								<div class="product">
									<figure class="product-media">
										<div th:if="${product.state==1}">
											<span class="product-label label-new">New</span>
										</div>
										<div th:if="${product.state==2}">
											<span class="product-label label-top">Top</span>
										</div>
										<div th:if="${product.state==3}">
											<span class="product-label label-sale">Sale</span>
										</div>
										<a th:href="'detail?id='+${product.id}">
											<img style="width:280px;height:280px;object-fit: contain;background-color: white;"
												th:src="'assets/images/products/'+${product.picture}"
												alt="Product image" class="product-image">
										</a>

										<div class="product-action-vertical">
											<a th:id="${product.id}" onclick="clickToAddFavourite(id)"
												class="btn-product-icon btn-wishlist btn-expandable"><span>Yêu
													thích</span></a>
										</div><!-- End .product-action -->

										<div class="product-action action-icon-top">
											<a th:id="${product.id}" onclick="clickToAddCart(id)"
												class="btn-product btn-cart"><span>Giỏ hàng</span></a>
										</div><!-- End .product-action -->
									</figure><!-- End .product-media -->

									<div class="product-body">
										<div class="product-cat">
											<a href="#" th:text="${product.category.name}"></a>
										</div><!-- End .product-cat -->
										<h3 class="product-title"><a th:href="'detail?id='+${product.id}"
												th:text="${product.name}"></a></h3><!-- End .product-title -->
										<div class="product-price"
											th:text="${#numbers.formatDecimal(product.selling_price, 0, 'COMMA', 0, 'POINT')}+'₫'">
										</div><!-- End .product-price -->
										<div class="ratings-container">
											<div class="ratings">
												<div class="ratings-val"
													th:style="'width: ' + (20 * ${product.rating}) + '%;'"></div>
												<!-- End .ratings-val -->
											</div><!-- End .ratings -->
											<span class="ratings-text"
												th:text="'('+${product.review.size()}+' đánh giá)'"></span>
										</div><!-- End .rating-container -->
									</div><!-- End .product-body -->
								</div><!-- End .product -->
							</div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
						</div><!-- End .row -->


						<nav aria-label="Page navigation">
							<ul class="pagination justify-content-center">
								<li th:class="${page==1 ? 'page-item disabled' : 'page-item'}">
									<a class="page-link page-link-prev" th:href="'product?page=' + ${page-1}"
										aria-label="Previous" th:aria-disabled="${page==1 ? 'true' : 'false'}">
										<span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
									</a>
								</li>

								<div th:each="i : ${#numbers.sequence(-2,2)}">
									<div th:if="${i+page>=1 and i+page<=countPage}">
										<li th:class="${i==0 ? 'page-item active' : 'page-item'}" aria-current="page"><a
												class="page-link" th:href="'product?page=' + ${i+page}"
												th:text="${i+page}"></a></li>
									</div>
								</div>

								<li th:class="${page==countPage ? 'page-item disabled' : 'page-item'}">
									<a class="page-link page-link-next" th:href="'product?page=' + ${page+1}"
										aria-label="Next" th:aria-disabled="${page==countPage ? 'true' : 'false'}">
										Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
									</a>
								</li>
							</ul>
						</nav>
					</div><!-- End .products -->

					<div class="sidebar-filter-overlay"></div><!-- End .sidebar-filter-overlay -->
					<aside class="sidebar-shop sidebar-filter">
						<div class="sidebar-filter-wrapper">
							<div class="widget widget-clean">
								<label><i class="icon-close"></i>Filters</label>
								<a href="#" class="sidebar-filter-clear">Clean All</a>
							</div><!-- End .widget -->
							<div class="widget widget-collapsible">
								<h3 class="widget-title">
									<a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true"
										aria-controls="widget-1">
										Danh mục
									</a>
								</h3><!-- End .widget-title -->

								<div class="collapse show" id="widget-1">
									<div class="widget-body">
										<div class="filter-items filter-items-count">
											<div class="filter-item" th:each="category : ${categories}">
												<div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input"
														th:checked="${#strings.contains(cate_id, category.id)}"
														th:id="'cate-'+${category.id}">
													<label class="custom-control-label" th:for="'cate-'+${category.id}"
														th:text="${category.name}"></label>
												</div><!-- End .custom-checkbox -->
												<span class="item-count">3</span>
											</div><!-- End .filter-item -->
										</div><!-- End .filter-items -->
									</div><!-- End .widget-body -->
								</div><!-- End .collapse -->
							</div><!-- End .widget -->

							<div class="widget widget-collapsible">
								<h3 class="widget-title">
									<a data-toggle="collapse" href="#widget-2" role="button" aria-expanded="true"
										aria-controls="widget-2">
										Nhà sản xuất
									</a>
								</h3><!-- End .widget-title -->

								<div class="collapse show" id="widget-2">
									<div class="widget-body">
										<div class="filter-items">
											<div class="filter-item" th:each="manufacturer : ${manufacturers}">
												<div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input"
														th:checked="${#strings.contains(manu_id, manufacturer.id)}"
														th:id="'manu-'+${manufacturer.id}">
													<label class="custom-control-label"
														th:for="'manu-'+${manufacturer.id}"
														th:text="${manufacturer.name}"></label>
												</div><!-- End .custom-checkbox -->
											</div><!-- End .filter-item -->
										</div><!-- End .filter-items -->
									</div><!-- End .widget-body -->
								</div><!-- End .collapse -->
							</div><!-- End .widget -->

							<div class="widget widget-collapsible">
								<h3 class="widget-title">
									<a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true"
										aria-controls="widget-5">
										Price
									</a>
								</h3><!-- End .widget-title -->

								<div class="collapse show" id="widget-5">
									<div class="widget-body">
										<div class="filter-price">
											<div class="filter-price-text">
												Price Range:
												<span id="filter-price-range"></span>
											</div><!-- End .filter-price-text -->

											<div id="price-slider"></div><!-- End #price-slider -->
										</div><!-- End .filter-price -->
									</div><!-- End .widget-body -->
								</div><!-- End .collapse -->
							</div><!-- End .widget -->
						</div><!-- End .sidebar-filter-wrapper -->
					</aside><!-- End .sidebar-filter -->
				</div><!-- End .container -->
			</div><!-- End .page-content -->
		</main><!-- End .main -->

	</div><!-- End .page-wrapper -->
	<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

	<!-- Mobile Menu -->
	<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

</body>
<!-- molla/category-boxed.html  22 Nov 2019 10:03:02 GMT -->

</html>